.card {
    padding: 0.6rem 2rem;
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 1rem;
    background-color: var(--background-alt);
    border: 1px solid var(--hover);
    border-radius: 8px;
    color: var(--secondary-text);
    text-decoration: none;
    transition: transform 200ms ease, background-color 200ms ease,
        border 200ms ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    cursor: pointer;
}
