.box {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
    font-size: 1.6em;
    font-weight: 600;
    background-color: #111111f8;
}

@media (prefers-color-scheme: dark) {
    .box {
        color: #aaa;
        background-color: black;
    }
}
