:root {
    color-scheme: dark light;
    --primary-color: #ff002b;
    --background: #f9fafb;
    --background-alt: #fefefe;
    --primary-text: #111;
    --secondary-text: #222;
    --gray-color: #727272;
    --hover: #11111120;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --background-alt: #111111;
        --primary-text: #efefef;
        --secondary-text: #ccc;
        --gray-color: #888;
        --hover: #eeeeee14;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0 auto;
    width: 800px;
    background-color: var(--background);
}

#nprogress .bar {
    background: var(--primary-color) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color) !important;
}

/* REUSABLE CLASSES */
.text-muted {
    color: var(--gray-color);
}
