:root {
    color-scheme: dark light;
    --primary-color: #ff002b;
    --background: #f9fafb;
    --background-alt: white;
    --primary-text: #111;
    --secondary-text: #222;
    --gray-color: #777;
    --hover: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0b0b0b;
        --background-alt: #131313;
        --primary-text: #f5f5f5;
        --secondary-text: #e5e5e5;
        --gray-color: #888;
        --hover: #2b2b2b;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0 auto;
    width: 800px;
    background-color: var(--background);
}

/* p {
    color: var(--secondary-text);
} */

#nprogress .bar {
    background: var(--primary-color) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color) !important;
}
