.container {
    position: relative;
    margin: 2rem 0 6rem;
    padding: 3rem 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    background: #860808;
    background: #610303;
    /* background: -webkit-linear-gradient(to left, #860808, #bb1300);
    background: linear-gradient(to left, #860808, #bb1300); */
    background: #333333; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #dd1818,
        #000005
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #dd1818,
        #000005
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.container h1 {
    font-size: 1.6rem;
    color: white;
}

.container small {
    color: #aaa;
}

.container p {
    max-width: 348px;
    text-align: center;
    color: #ddd;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form {
    position: absolute;
    bottom: -2rem;
    width: 80%;
}
