.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-text);
    text-decoration: none;
    transition: color 200ms ease;
}

.link:hover {
    color: var(--primary-color);
}
