.container {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    gap: 8px;
    background-color: var(--background-alt);
    border: 1px solid var(--hover);
    border-radius: 8px;
    box-shadow: #00000010 0px 8px 24px;
    transition: border 200ms ease;
}

.container:focus-within {
    border: 1px solid #ff002bc0;
    box-shadow: #ff002b30 0px 8px 34px;
}

.input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    outline: none;
    color: var(--primary-text);
    font-size: 1rem;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--background-alt) inset !important;
    -webkit-text-fill-color: var(--primary-text);
    caret-color: var(--primary-text);
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--gray-color);
    border: 0;
    cursor: pointer;
    transition: color 200ms ease;
}

.divider {
    height: 1.5rem;
    margin: 0 0.3rem;
    border-left: 1px solid var(--hover);
}
