.pillsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchPill {
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    min-width: 0;
    width: fit-content;
    gap: 0.5rem;
    background-color: #0000000d;
    border-radius: 7px;
    color: var(--gray-color);
    text-decoration: none;
}

.searchPill span {
    color: var(--secondary-text);
}

.searchPill button {
    margin-left: 0.5rem;
    display: flex;
    background-color: transparent;
    color: var(--gray-color);
    border: 0;
    cursor: pointer;
    transition: color 200ms ease;
}

.searchPill button:hover {
    color: var(--secondary-text);
}

@media (prefers-color-scheme: dark) {
    .searchPill {
        background-color: #ffffff10;
    }
}
