.row {
    margin: 3rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showToolsBtn {
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    display: flex;
    align-items: center;
    min-width: 0;
    width: fit-content;
    gap: 0.5rem;
    background-color: #0000000a;
    border-radius: 7px;
    color: var(--gray-color);
    font-size: 0.91rem;
    text-decoration: none;
    transition: color 200ms ease;
}

.showToolsBtn:hover {
    color: var(--secondary-text);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .showToolsBtn {
        background-color: #ffffff0f;
    }
}
