.container {
    border: 1px solid var(--hover);
    transition: border 200ms ease;
    padding: 8px;
    background-color: var(--background-alt);
    border-radius: 8px;
    box-shadow: #00000010 0px 8px 24px;
}

.container form {
    display: flex;
}

.container:focus-within {
    border: 1px solid #ff002bc0;
    box-shadow: #ff002b20 0px 8px 24px;
}

.input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--primary-text);
    font-size: 1rem;
}
