.card {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 1rem;
    background-color: var(--background-alt);
    border: 1px solid var(--hover);
    border-radius: 8px;
    text-decoration: none;
    transition: transform 200ms ease;
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 1.1rem;
    color: var(--primary-text);
}

.header small,
.autor {
    color: var(--gray-color);
    text-decoration: none;
    transition: color 200ms ease;
}

.autor:hover {
    color: var(--primary-color);
}

.description {
    color: var(--secondary-text);
    font-size: 0.91rem;
}

.categories {
    display: flex;
    list-style: none;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.category {
    padding: 2px 6px;
    font-size: 0.83rem;
    border-radius: 4px;
    color: var(--gray-color);
    background-color: #0000000a;
}

.newLabel {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0px 6px 2px;
    font-size: 0.83rem;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

@media (prefers-color-scheme: dark) {
    .category {
        background-color: #ffffff0a;
    }
}
